*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 960px;
    height: 960px;
    flex: 1;
    
}